*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h3{
    text-align: center;
}

body {
    background-color: beige;
    color: black;
    padding: 5% 30%;
    width: 100vw;
    font-size: 30px;
}

/*----- CONTAINER 1 ------*/

.container1{
    display: grid;
}
.item {
    border: 1px solid black;
    text-align: center;
}

/*----- CONTAINER 2 ------*/

.container2{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
}

/*----- CONTAINER 3 ------*/

.container3{
    display: grid;
    grid-template-rows: 50px 50px 50px;
}

/*----- CONTAINER 4 ------*/

.container4{
    display: grid;
    
}